## 4. 이차원 리스트

In [1]:
abc = [[1,2,3], [4,5,6], [7,8,9]]
print(abc)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [2]:
print(abc[0])
print(abc[1])
print(abc[2])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

> - 이차원 리스트의 인덱스

In [3]:
abc = [[1,2,3], [4,5,6], [7,8,9]]

In [4]:
# 1을 출력하기
print(abc[0][0])

1

In [5]:
# 6을 출력하기
print(abc[1][2])

6

In [6]:
# 8을 출력하기
print(abc[2][1])

8

In [7]:
# 반복문을 이용해서 출력하기
abc = [[1,2,3], [4,5,6], [7,8,9]]

for i in abc :
    print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

> - 이차원리스트 반복 원리

In [8]:
# 모든 줄의 첫번째 데이터만 출력
abc = [[1,2,3], [4,5,6], [7,8,9]]

for i in abc :
    print(i[0])

1
4
7

In [9]:
# 모든 줄의 두번째 데이터만 출력
abc = [[1,2,3], [4,5,6], [7,8,9]]

for i in abc :
    print(i[1])

2
5
8

In [10]:
# 모든 줄의 세번째 데이터만 출력
abc = [[1,2,3], [4,5,6], [7,8,9]]

for i in abc :
    print(i[-1])

3
6
9

In [11]:
data =[
    [1,'미국',46,37,38,121],
    [2,'영국',27,23,17,67],
    [3,'중국',26,18,26,70],        
    [4,'러시아',19,18,19,56],
    [5,'독일',17,10,15,42],
    [6,'일본',12,8,21,41],
    [7,'프랑스',10,18,14,42],
    [8,'대한민국',9,3,9,21]
]

In [12]:
print(data)

[[1, '미국', 46, 37, 38, 121], [2, '영국', 27, 23, 17, 67], [3, '중국', 26, 18, 26, 70], [4, '러시아', 19, 18, 19, 56], [5, '독일', 17, 10, 15, 42], [6, '일본', 12, 8, 21, 41], [7, '프랑스', 10, 18, 14, 42], [8, '대한민국', 9, 3, 9, 21]]

In [13]:
#문제 국가 이름만 출력하세요
for i in data :
    print(i[1])

미국
영국
중국
러시아
독일
일본
프랑스
대한민국

In [14]:
#문제 금메달보다 은메달 개수가 많은 나라를 출력 하시오
for i in data :
    if i[2] < i[3]:
        print(i[1],'금메달-',i[2],'은메달-',i[3])

프랑스 금메달- 10 은메달- 18

In [15]:
#문제 금메달보다 동메달 개수가 많은 나라를 출력 하세요
for i in data :
    if i[2] < i[4]:
        print(i[1],'금메달-',i[2],'동메달-',i[4])

일본 금메달- 12 동메달- 21
프랑스 금메달- 10 동메달- 14

In [16]:
#모든 나라의 금메달 합을 구하시오
gold = 0
for i in data :
    gold += i[2]
print('모든 나라의 금메달 총합계는', gold)

모든 나라의 금메달 총합계는 166