### split()으로 문자열 슬라이싱

In [1]:
date = '2023-04-12 수요일'
print(date)

2023-04-12 수요일

In [2]:
# 공백을 기준으로 잘라내기 split
date.split()

['2023-04-12', '수요일']

In [3]:
print(date)

2023-04-12 수요일

In [4]:
# 0을 기준으로 잘라내기
date.split('0')

['2', '23-', '4-12 수요일']

In [5]:
# -을 기준으로 split
date.split('-')

['2023', '04', '12 수요일']

In [6]:
date.split('-')[0]

'2023'

In [7]:
# split한 결과를 형변환 int
int(date.split('-')[0])

2023

실습
```
date = '2023-04-12'
```
위 date에서 월(month)만 골라내 숫자형태로 변수 mon에 저장하시오.

In [9]:
# date 변수를 만들고 값을 넣어 준다
date = '2023-04-12'

#월만 골라내기
mon = int(date.split('-')[1])
print(mon)

4

In [10]:
# day만 출력해 봅시다
day = int(date.split('-')[2])
print(day)

12

In [11]:
# day만 출력해 봅시다
day = int(date.split('-')[-1])
print(day)

12

## 3. 리스트와 제어구조
### 1) for a in date 에서 date에 리스트를 넣을 때
- 다음 spend의 모든 원소를 차례대로 출력하시오
```
spend = [25, 36, 8, 53, 24, 56]
```

In [12]:
spend = [25, 36, 8, 53, 24, 56]

for i in spend :
    print('지출은', i)

지출은 25
지출은 36
지출은 8
지출은 53
지출은 24
지출은 56

In [13]:
# 문제 50이상 쓴 금액만 출력하시오.
spend = [25, 36, 8, 53, 24, 56]

for i in spend :
    if i >= 50 :
        print('지출은', i)

지출은 53
지출은 56

### 2) for a in date 에서 date에 range()를 넣을 때

In [14]:
# 인덱스를 활용하고 싶을 때 range()
spend = [25, 36, 8, 53, 24, 56, 80, 12]

for i in range(len(spend)) :
    print(i+1,'월 지출은', spend[i])

1 월 지출은 25
2 월 지출은 36
3 월 지출은 8
4 월 지출은 53
5 월 지출은 24
6 월 지출은 56
7 월 지출은 80
8 월 지출은 12