## 9번 문제
```
문자(character)는
0~9, a~z, A~Z, !, @, #, {, [, <, ... 과 같이 
길이가 1인 기호라고 할 수 있다.

변수에 문자 1개를 저장한 후
변수에 저장되어 있는 문자를 그대로 출력해보자.

예시
c = input()
print(c)

와 같은 형태로 가능하다.
```

In [2]:
a = input()
print(a)

a
a

## 10번 문제
```
정수(integer)는
양의 정수(1, 2, 3, 4, 5, ...), 음의 정수(-1, -2, -3, -4, -5, ...), 0 과 같이
소숫점 아래에 수가 없는 수라고 할 수 있다.

변수에 정수값을 저장한 후 정수로 변환하여 출력해보자.

예시
n = input()
n = int(n)
print(n)
와 같은 형태로 가능하다.

```

In [3]:
n = input()
n = int(n)
print(n)

15
15

## 11번 문제
```
숫자(0~9)와 소수점(.)을 사용해 표현한 수를 실수(real number)라고 한다.

변수에 실수값을 저장한 후
변수에 저장되어 있는 값을 그대로 출력해보자.

예시
f = input()
f = float(f)
print(f)
와 같은 형태로 가능하다.
```

In [4]:
f = input()
f = float(f)
print(f)

1.414213
1.414213

## 12번 문제
```
줄을 바꿔 정수(integer) 2개를 입력받아 줄을 바꿔 출력해보자.

예시
a = input() 
b = input()
a=int(a)
b=int(b)
print(a)
print(b)
과 같은 방법으로 가능하다.
```

In [6]:
a = input() 
b = input()
a=int(a)
b=int(b)
print(a)
print(b)

1
2
1
2

## 13번 문제
```
줄을 바꿔 문자(character) 2개를 입력받고, 순서를 바꿔 한 줄씩 출력해보자.
```

In [7]:
a=input()
b=input()
print(b)
print(a)

b
a
a
b

## 14번 문제
```
실수(real number) 1개를 입력받아 줄을 바꿔 3번 출력해보자.

예시
...
print(f)  #f에 저장되어있는 값을 출력하고 줄을 바꾼다.
print(f)
print(f)
와 같은 방법으로 3번 줄을 바꿔 출력할 수 있다.
```

In [8]:
f = input()
print(float(f))
print(float(f))
print(float(f))
#변수를 float으로 해서 실수로 변경하면 됨

0.1
0.1
0.1
0.1

## 15번 문제
```
공백을 두고 입력된정수(integer) 2개를 입력받아 줄을 바꿔 출력해보자.

예시
a, b = input().split()
a=int(a)
b=int(b)
print(a)
print(b)
과 같은 방법으로 두 정수를 입력받아 출력할 수 있다.
```

In [9]:
a, b = input().split()
a = int(a)
b = int(b)
print(a)
print(b)

1   2
1
2

## 16번 문제
```
공백을 두고 문자(character) 2개를 입력받아 순서를 바꿔 출력해보자.
```

In [10]:
a, b = input().split()

print(b, a)

a  b
b a

## 17번 문제
```
정수(integer), 실수, 문자(character), 문자열(string) 등 1개만 입력받아 한 줄로 3번 출력해보자.

예시
s = input()
print(s, s, s)  #공백으로 구분해 한 줄로 출력한다.
와 같은 방법으로 3번 출력할 수 있다.
```

In [11]:
s = input()
print(s, s, s)

computer science
computer science computer science computer science

## 18번 문제
```
24시간 시:분 형식으로 시간이 입력될 때, 그대로 출력하는 연습을 해보자.

예시
a, b = input().split(':')
print(a, b, sep=':')
와 같은 방법으로 가능하다.
```

In [12]:
a, b = input().split(':')
print(a, b, sep=':')

3:16
3:16

## 19번 문제
```
"연도.월.일"을 입력받아 "일-월-연도" 순서로 바꿔 출력해보자.
```

In [13]:
y, m, d = input().split('.')
print(d, m, y, sep='-')

2020.3.4
4-3-2020

## 20번 문제
```
주민번호는 다음과 같이 구성된다.
XXXXXX-XXXXXXX

왼쪽 6자리는 생년월일(YYMMDD)이고, 오른쪽 7자리는 성별,출생지역,확인코드로 구성되어있다.
주민번호를 입력받아 형태를 바꿔 출력해보자.
```

In [14]:
f, b = map(str,input().split('-'))

print(f+b)

000907-1121112
0009071121112